<header class="header">
  <div class="container">
    <h1 class="title">{{title}}</h1>
    <ul class="nav">
      <li><a href="/">Home</a></li>
      <li><a href="/users/login">Login</a></li>
      <li><a href="/users/signup">Signup</a></li>
    </ul>
  </div>
</header>